* {
	// cursor: none;
}
figure {
	width: 100%;
	height: 100vh;
	background: #555;
	overflow: hidden;
	position: relative;
	padding: 200px 0 100px;
	.swiper {
		height: 100%;
		overflow: visible;
		.swiper-slide {
			width: 100%;
			transition: 1s;
			opacity: 0.7;
			overflow: hidden;
			video {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.swiper-slide-active {
			transform: scale(1);
			opacity: 1;
			box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.5);
		}
		.swiper-pagination {
			bottom: -60px;
		}
	}
}
.cursor {
	width: 20px;
	height: 20px;
	background: #fff;
	position: fixed;
	border-radius: 50%;
	top: 0;
	left: 0;
	z-index: 5;
	mix-blend-mode: difference;
	transform: translate(-50%, -50%);
	pointer-events: none; // 커스텀커서의 이벤트를 없애서 뒤에 요소가 클릭되게하는것
	transition: transform 0.3s;
}
